<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2015 AndroidPlot.com
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidplot.demos">

    <!-- Used by Crittercism to report crashes -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DemoApplication"
        android:icon="@drawable/ic_launcher"
        android:label="Androidplot API DemoApp"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FXPlotExampleActivity" />

        <!-- receiver for demo app widget -->
        <receiver
            android:name=".widget.DemoAppWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Example Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/demo_app_widget_provider_info" />
        </receiver>

        <activity
            android:name=".metodobiseccionActivity" />
        <activity
            android:name=".ecuacionesunavariableActivity" />
        <activity
            android:name=".TablaBiseccionActivity" />
        <activity
            android:name=".ReglaFalsaActivity" />
        <activity
            android:name=".PuntofijoActivity" />
        <activity
            android:name=".BusquedasIncrementalesActivity" />
        <activity
            android:name=".MetodoIncrementalTablaActivity" />
        <activity
            android:name=".PuntoFijoTableActivity" />
        <activity
            android:name=".NewtonActivity" />
        <activity
            android:name=".NewtonTableActivity" />
        <activity
            android:name=".SecantMethodActivity" />
        <activity
            android:name=".SecantTableActivity" />
        <activity
            android:name=".MultipleRootActivity" />
        <activity
            android:name=".MultipleRootTable2Activity" />
        <activity
            android:name=".GraphActivity" />
        <activity
            android:name=".matrix2" />
        <activity android:name=".Iterativos" />
        <activity
            android:name=".resultado_matrices" />
        <activity
            android:name=".resultado_matrices_LU" />
        <activity
            android:name=".NewtonDividido2Activity" />
        <activity
            android:name=".BewtonDivididoTableActivity" />
        <activity
            android:name=".LagrangeActivity" />
        <activity
            android:name=".LagrangeTableActivity" />
        <activity
            android:name=".InterpolacionMetodosActivity" />
        <activity
            android:name=".TrazadorSimpleActivity" />
        <activity
            android:name=".SplineTableActivity" />
        <activity
            android:name=".CuadraticoActivity" />
        <activity
            android:name=".CubicoActivity"/>
    </application>

</manifest>